<section id="promo" class="promo-section section" style="min-height: 660px; width:100%;"> 
  <div class="promo-content">
    <div class="upper-wrapper text-center homepage-info">
      <!--<h1 class="logo-holder"></h1>-->
      <h2 class="headline homepage-info">Catherine Wallin</h2>
      <div class="tagline homepage-info">Photographer based in southern California<br/>
        catherine.wallin@gmail.com
        <ol class="social">          
            <li><a href="https://www.instagram.com/cat_wallin/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="mailto:catherine.wallin@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-file-text fa-2x"></i></a></li>            
        </ol>
      </div>
    </div>
  </div>
</section>
