<header id="banner" class="carousel slide zoom carousel-fade" data-ride="carousel">

  <div class="carousel-inner">

    <div class="item active">
      <img src="assets/img/banners/01_bg.jpg" alt="banner-img">      
      <div class="carousel-caption overlay">
        <div class="content">
          <div class="text wow fadeIn" data-wow-delay="0.2s">
            <h1>Event Photography</h1>
            <hr>
          </div>
        </div>
      </div>      
    </div>

    <div class="item">
      <img src="assets/img/banners/02_bg.jpg" alt="banner-img">      
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow fadeIn" data-wow-delay="0.2s">
            <h1>Animal Photography</h1>
            <hr>
          </div>
        </div>
      </div>      
    </div>    

    <div class="item">
      <img src="assets/img/banners/03_bg.jpg" alt="banner-img">
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow fadeIn" data-wow-delay="0.2s">
            <h1>Landscape Photography</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
    
    <div class="item">
      <img src="assets/img/banners/04_bg.jpg" alt="banner-img">
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow fadeIn" data-wow-delay="0.2s">
            <h1>Digital Photography</h1>
            <hr>
          </div>
        </div>
      </div>      
    </div>    

    <div class="item">      
      <img src="assets/img/banners/05_bg.jpg" alt="banner-img">
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow fadeIn" data-wow-delay="0.2s">
            <h1>All About Photography</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>    

  </div>
    
  <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
        <img src="assets/img/06_left.png" alt="prev-img"> <!-- Left controls -->
      </a>
  <a class="right carousel-control" href="#banner" role="button" data-slide="next">
        <img src="assets/img/05_right.png" alt="next-img"> <!-- Right controls -->
      </a>
      
</header>