<div class="container-fluid">

    <div class="text-center">
        <h2 style="letter-spacing: -1px;">Catherine Wallin</h2>
        <!--<div class="tagline">Photographer based in southern California</div>-->
        <!--<img src="assets/img/D750_front.png" style="width: 50px;">-->
    </div>

    <nav class="navbar navbar-default" style="background:black;">
        <ul class="nav navbar-nav">            
            <li><a href="http://www.catwallin.net">Home</a></li>
            <li><a class="gallery-link" [routerLink]="[ '/gallery/0' ]">Events</a></li>
            <li><a class="gallery-link" [routerLink]="[ '/gallery/1' ]">Portraits</a></li>
            <li><a class="gallery-link" [routerLink]="[ '/gallery/2' ]">Before & After</a></li>
            <li><a class="gallery-link" [routerLink]="[ '/gallery/3' ]">Sports</a></li>
            <li><a class="gallery-link" [routerLink]="[ '/gallery/4' ]">Wildlife</a></li>
        </ul>
    </nav>

    <div class="gallery-grid">
        <div class="gallery-sizer col-xs-12 col-sm-6 col-md-3"></div>
        <div *ngFor='let i of selectedGallery.imageList' class="gallery-item col-xs-12 col-sm-6 col-md-3">
            <a href="{{i.imagePath}}" data-lightbox="event-set" data-title="">
                <img class="img-responsive" style="min-height: 20px;" src="{{i.imagePath}}">
            </a>
        </div>
    </div>

</div>