<div class="container-fluid" >        
    <h1 class="homepage-info" style="text-align: center; color: white;">       
        - {{selectedGallery.title}} -       
    </h1>
    <div class="gallery-grid">
        <div class="grid-sizer col-xs-12 col-sm-6 col-md-3"></div>
        <div *ngFor='let i of selectedGallery.imageList' class="gallery-item col-xs-12 col-sm-6 col-md-3">
                <a href="{{i.imagePath}}" data-lightbox="event-set" data-title="">
                    <img class="img-responsive" style="min-height: 20px;" src="{{i.imagePath}}">
                </a>
        </div>       
    </div>
</div>