<div class="portfolio-modal modal fade" id="{{portfolio.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>{{portfolio.title2}}</h2>

            <div id="slider-{{portfolio.id}}" class="carousel slide" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div *ngFor='let i of portfolio.portfolioImages' class="item {{i.isActive}}">
                  <img src="{{i.imagePath}}" alt="...">
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#slider-{{portfolio.id}}" role="button" data-slide="prev">
                                <span class="fa fa-caret-left fa-2x"></span>
                              </a>
                <a class="right carousel-control" href="#slider-{{portfolio.id}}" role="button" data-slide="next">
                                <span class="fa fa-caret-right fa-2x"></span>
                              </a>
              </div>

              <!--
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p><strong>Want these theme for your portfolio?</strong> You can download this theme here for only $10, courtesy of jlpmedia.com. Awesome Photography/Portfolio Template is a bootstrap based awesome photography portfolio template. Creatively designed to present your artwork beautifully and clean. Catch more visitors and potential clients by using Solstice Photography/Portfolio Template to showcase your photography and crafts. This is mobile responsive template, very easy to use and well-documented codes.</p>
                            <ul class="list-inline">
                                <li>Date: August 2014</li>
                                <li>Client: Tarsier Graphics</li>
                                <li>Category: Image Design</li>
                            </ul>
                          -->
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>