<section id="socials">
    <div class="container wow bounceIn" data-wow-delay="0.4s">
        <p>If you'd like to keep up with my photography...</p>
        <p> >> <span class="follow"> Follow Me </span> &lt;&lt; </p>
        <ol class="social">
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li>            
            <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>            
            <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>            
        </ol>
    </div>
</section>
